body {
    font-family: 'Poppins', sans-serif;
}

/* Login */
.login-background {
    background: url(foto/Bg.png);
    background-size: cover;
}

.login-container {
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.login-container img {
    display: block;
    margin: 0 auto;
}

.input-line {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 10px;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
    outline: none;
}

.input-line::placeholder {
    color: #dcdcdc;
}

.forgot {
    margin: 10px 0 20px;
    font-size: 0.9rem;
    color: #e0e0e0;
}

.btn-submit {
    background-color: #ffffff;
    color: #00385a;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-submit:hover {
    background-color: #d2dbeb;
}

.input-group {
    background: transparent;
}

.input-icon {
    background: transparent;
    border: none;
    padding: 0 10px;
}

.icon-img {
    margin-bottom: 20px;
}

.input-line {
    background: transparent;
    border: none;
    font-size: 0.95rem;
    padding: 10px;
    box-shadow: none !important;
}

.input-line::placeholder {
    color: #dcdcdc;
}

.input-group .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.input-group .form-control:focus {
    box-shadow: none;
    border-color: #fff;
}

/* dashboard */
.search-form {
    display: flex;
    position: relative;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 10px 45px 10px 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.menu-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    margin-top: 70px;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    height: 40px;
}

.menu-items {
    display: flex;
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.3s ease;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
}

.menu-items a {
    margin-left: 10px;
}

.menu-items a img {
    width: 40px;
    height: 40px;
}

.card-section {
    border-radius: 12px;
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 40px;
}

.gradient-box {
    border-radius: 12px;
    height: 100px;
    background: linear-gradient(to bottom, #00385a, #6c7a89);
}

.gradient-box-small {
    border-radius: 12px;
    height: 80px;
    background: linear-gradient(to right, #00385a, #6c7a89);
}

.chart-box {
    height: 200px;
    background-color: #ddd;
    border-radius: 12px;
    margin-bottom: 80px;
}

.bar {
    width: 30px;
    background: linear-gradient(to top, #00385a, #6c7a89);
    border-radius: 6px 6px 0 0;
    transition: 0.3s ease;
}

.bar:hover {
    opacity: 0.8;
    transform: scaleY(1.05);
}

.mt-custom {
    margin-top: 100px;
}

/* Detail Profil */
